.flex {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: solid;
    border-radius: 20px;
    padding: 50px;
}

.row {
    margin-top: 40px;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
}